<?xml version="1.0" encoding="UTF-8" ?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- This log4j file is only used by the tests. -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</layout>
	</appender>

	<root>
		<level value="OFF" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
