<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.3">

	<!-- Basic Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>Cortex, Akhil Ravindran</author>
	<description>
		Manage radiology orders and reports.
		http://wiki.openmrs.org/display/docs/Radiology+Module
	</description>

	<activator>${project.parent.groupId}.${project.parent.artifactId}.RadiologyActivator
	</activator>

	<require_version>1.11.4</require_version>
	<require_database_version>1.0.0</require_database_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.web.extension.html.AdminList</class>
	</extension>

	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>@MODULE_PACKAGE@.web.extension.html.RadiologyDashboardExt
		</class>
	</extension>

	<!-- /Extensions -->

	<!--Required Global Properties -->
	<globalProperty>
		<property>@MODULE_ID@.mwlMppsPort</property>
		<defaultValue>11114</defaultValue>
		<description>Port of the DICOM MWL and MPPS server. OpenMRS MPPSSCU
			Client
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.mwlDirectory</property>
		<defaultValue>mwl</defaultValue>
		<description>Directory for mwl entries. Ex: d:/tmp/mwl or /tmp/mwl
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.mppsDirectory</property>
		<defaultValue>mpps</defaultValue>
		<description>Directory for mpps entries</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.serversAddress</property>
		<defaultValue>localhost</defaultValue>
		<description>IP address of the dcm4chee</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.serversPort</property>
		<defaultValue>8081</defaultValue>
		<description>Port of the dcm4chee Web</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.serversHL7Port</property>
		<defaultValue>2575</defaultValue>
		<description>Port of the dcm4chee hl7 receiver/sender</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.applicationEntityTitle</property>
		<defaultValue>RADIOLOGY_MODULE</defaultValue>
		<description>Title for this application entity.Calling application
			entity with respect to OpenMRS
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.calledApplicationEntityTitle</property>
		<defaultValue>DCM4CHEE</defaultValue>
		<description>Default application entity for DCM4CHEE. Called
			Application Entity with respect to OpenMRS
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.dicomViewerUrlBase</property>
		<defaultValue>/weasis-pacs-connector/viewer?</defaultValue>
		<description>Base URL for DICOM viewer (e.g. Weasis, Oviyam, ...).
			Default is for Weasis using weasis-pacs-connector (Weasis needs java
			on client):
			"/weasis-pacs-connector/viewer?". For
			Oviyam:
			"/oviyam2/viewer.html?".
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.dicomViewerLocalServerName</property>
		<defaultValue></defaultValue>
		<description>Local server name needed for deploying Oviyam (default
			value: "oviyamlocal"). Must match
			the local server name created in the
			Oviyam UI. Leave empty for
			Weasis.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.applicationUID</property>
		<defaultValue>1.2.826.0.1.3680043.8.2186</defaultValue>
		<description>
			You need a application root UID, this will be the prefix
			of any module
			DICOM object, the default value serves for debugging
			purposes
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.studyUIDSlug</property>
		<defaultValue>1</defaultValue>
		<description>Example: applicationUID+studyUIDSlug+orderId could be a
			study UID. The default value works!. Example values: 1.2, 1.1.1 (No
			start or end dots)
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.specificCharacterSet</property>
		<defaultValue>ISO-8859-1</defaultValue>
		<description>DICOM working character set
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.radiologyCareSetting</property>
		<defaultValue>6f0c9a92-6f24-11e3-af88-005056821db0</defaultValue>
		<description>
			UUID of the Care Setting to use when creating radiology
			orders; the
			default is the uuid of the "Outpatient" setting baked into
			core
		</description>
	</globalProperty>
    <globalProperty>
    	<property>@MODULE_ID@.radiologyConceptClasses</property>
    	<defaultValue></defaultValue>
    	<description>Comma separated list of concept class UUIDs which define
        	concepts that are orderable as radiology orders</description>
    </globalProperty>
	<!--Required Global Properties -->

	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->

	<messages>
		<lang>en</lang>
		<file>hl7messages.properties</file>
	</messages>
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<mappingFiles>RadiologyStudy.hbm.xml RadiologyOrder.hbm.xml RadiologyReport.hbm.xml
	</mappingFiles>

	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
	<!-- <servlet> <servlet-name>viewer.jnlp</servlet-name> <servlet-class>org.weasis.servlet.Weasis_Launcher</servlet-class> 
		</servlet> <servlet> <servlet-name>wadoRequest</servlet-name> <servlet-class>com.hxti.xebra.com.wado.WADORequestServlet</servlet-class> 
		</servlet> -->
</module>
