.left{
float:left;
width:25%;
}
.center{
position:absolute;
text-align:center;
left:25%;
width:50%;
}
.right{
float:right;
}
.right div{
float:right;
}
.tableHeader{
height:2em;
}
.verticalCentered > *{
vertical-align:middle;
}
div.dataTables_paginate.fg-buttonset.ui-buttonset.fg-buttonset-multi.ui-buttonset-multi.paging_full_numbers span{
width:auto;
height:auto;
margin:0 1px 0 0;
}
#radiologyTabsList {
        font-size: 0.8em;
}
#radiologyReports, #radiologyOrders, #radiologyReportTemplates {
        font-size: 0.9em;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
}
.fa-chevron-circle-down, .fa-chevron-circle-up{
	color: #1AAD9B;
}
.fa-check-circle{
	color: #1AAD9B;
}
.fa-times-circle{
	color: #ff0000;
}
.fa-circle{
	color: #f4920b;
}