.left {
	float: left;
	width: 25%;
}
.center {
	position: absolute;
	text-align: center;
	left: 25%;
	width: 50%;
}
.right {
	float: right;
}
.right div {
	float: right;
}
.tableHeader {
	height: 2em;
}
.verticalCentered>* {
	vertical-align: middle;
}
div.dataTables_paginate.fg-buttonset.ui-buttonset.fg-buttonset-multi.ui-buttonset-multi.paging_full_numbers span
	{
	width: auto;
	height: auto;
	margin: 0 1px 0 0;
}
#radiologyTabsList {
	font-size: 0.8em;
}
#radiologyReports, #radiologyOrders, #radiologyReportTemplates {
	font-size: 0.9em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
.fa-chevron-circle-down, .fa-chevron-circle-up {
	color: #1AAD9B;
}
.fa-check-circle {
	color: #1AAD9B;
}
.fa-times-circle {
	color: #ff0000;
}
.fa-circle {
	color: #f4920b;
}
input[type=text], textarea, select {
	padding: 1px;
	border: 1px solid cadetblue;
	box-sizing: border-box;
}
input[type=submit], input[type=button] {
	padding: 2px;
	border: 1px solid cadetblue;
	box-sizing: border-box;
	background-color: lightgrey;
}
#radiologyOrder input[type=submit] {
	margin-top: 8px;
}
#radiologyOrder input, #radiologyOrder select {
	width: 270px;
}
#radiologyOrder textarea {
	width: 270px;
	height: 100px;
}
#radiologyOrder tr:first-child td {
	min-width: 200px;
}
table.dataTable.dtr-column>tbody>tr>td.control:before {
	font-family: "FontAwesome";
	content: '\f13a';
	color: #1AAD9B;
	font-size: 1.3em;
}
table.dataTable.dtr-column>tbody>tr.parent td.control:before {
	font-family: "FontAwesome";
	content: '\f139';
	color: #1AAD9B;
	font-size: 1.3em;
}