.ac_results {
	padding: 0px;
	border: 1px solid #ff7c08;
	background-color: white;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	color: #972800;
	font-family:Arial, Helvetica, sans-serif;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;

}

.ac_odd {
	background-color: #fef2d8;
}

.ac_over {
	background-color: #febb80;
	color: white;
}


.input_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #FF7C08;
	padding:2px;
	width:150px;
	color:#802900;
	padding-left:17px;
}
